{{ define "main" }}
  <h2 class="mb-3">{{ .Title }}</h2>
  <blockquote class="blockquote mb-5 text-muted">
    <p class="mb-0">"{{ .Params.Quote }}"</p>
    <footer class="blockquote-footer">{{ .Params.FullName }}</footer>
  </blockquote>
  <div class="row">
    <div class="col-md-6 d-flex">
      <div class="card border-0 shadow my-auto w-100">
        {{ with (.Resources.Match "profile.*") . }}
        {{ range . }}
        <img src="{{ .RelPermalink }}" class="card-img-top" />
        {{ end }}
        {{ end }}
        <div class="card-footer text-center border-0 text-muted">
          {{ with .Params.PlayedBy }}
            {{ . }} as 
          {{ end }}
          {{ .Params.FullName }}
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex">
      <div class="my-auto w-100">
        <h5 class="mb-3">Vital Statistics</h5>
        <table class="table table-borderless table-sm">
          <tbody>
            <tr class="border-bottom">
              <th>Full Name:</th><td>{{ .Params.FullName }}</td>
            </tr>
            <tr class="border-bottom">
              <th>Species:</th><td>{{ .Params.Race }}</td>
            </tr>
            <tr class="border-bottom">
              <th>Height:</th><td>{{ .Params.CharHeight }}</td>
            </tr>
            <tr class="border-bottom">
              <th>Weight:</th><td>{{ .Params.CharWeight }}</td>
            </tr>
            <tr class="border-bottom">
              <th>Hair:</th><td>{{ .Params.Hair }}</td>
            </tr>
            <tr>
              <th>Eyes:</th><td>{{ .Params.Eyes }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <h5 class="border-bottom pb-3 mb-3">Physical Description</h5>
    {{ .Params.Description }}
  </div>
  <div class="mt-5">
    <h5 class="border-bottom pb-3 mb-3">Character Background</h5>
    {{ .Content }}
  </div>
{{ end }}