{{ define "main" }}
  <div class="row">
    <div class="col-sm-3 col-md-2 d-none d-sm-block">
      <div class="sidebar border-right">
        <ul>
          {{ $current := . }}
          {{ range sort (where .Site.Pages "Params.layout" $current.Params.layout) "Title" }}
          <li><a href="/theme/races/{{ .File.BaseFileName }}" {{ if eq .File.BaseFileName $current.File.BaseFileName }}class="active"
              {{ end }}>{{ .Title }}</a></li>
          {{ end }}
        </ul>
      </div>
    </div>
    <div class="col-sm-9 col-md-10 pr-md-5">
      <h2 class="text-uppercase">{{ .Title }}</h2>
      <h6 class="text-muted">Last Updated: {{ .Params.LastUpdated | default (.Date.Format "Jan 2, 2006") }}</h6>
      <div class="mt-5 row">
        <div class="col-md-8">
          <div class="mb-5">
            {{ .Content }}
            {{ with .Params.Language }}
              <p>Default Language: {{ . }}</p>
            {{ end }}
          </div>
          {{ range $key, $value := .Params.Special }}
          <h6>{{ humanize $key }}</h6>
          <p>{{ $value }}</p>
          {{ end }}
        </div>
        <div class="col-md-4">
          <div class="card border-0 shadow">
            <div class="card-header text-center bg-secondary text-light border-0"><b>{{ .Title }} Attributes</b></div>
            <div class="card-body">
              <table class="table table-borderless table-sm">
                <thead class="border-bottom">
                  <td></td>
                  <td class="text-right">Min</td>
                  <td class="text-right">Max</td>
                </thead>
                {{ range $key, $value := .Params.Stats }}
                <tr>
                  <td><b>{{ humanize $key }}</b></td>
                  <td class="text-right">{{ $value.min }}</td>
                  <td class="text-right">{{ $value.max }}</td>
                </tr>
                {{ end }}
              </table>
            </div>
          </div>
        </div>
      </div>
      {{ with .Params.Images }}
        <h6 class="mt-5">Images</h6>
        <div class="row">
          {{ range . }}
            <div class="col">
              <div class="img-thumbnail text-center p-3 h-100">
                <a href="{{ . }}" target="_blank" class="stretched-link"><img src="{{ . }}" /></a>
              </div>
            </div>
          {{ end }}
        </div>
      {{ end }}
    </div>
    
  </div>
{{ end }}