{{ define "main" }}
  <div class="row">
    {{ $showSidebar := and .Parent.Page (not .Parent.IsHome) }}
    {{ if $showSidebar }}
      <div class="col-md-3 d-none d-md-block">
        {{- partial "sidebar.html" . }}
      </div>
    {{ end }}
    <div class="{{ if $showSidebar }}col-md-9{{ end }} col">
      <h2 class="text-uppercase">{{ .Title }}</h2>
      <h6 class="text-muted border-bottom pb-3">Last Updated: {{ .Params.LastUpdated | default (.Date.Format "Jan 2, 2006") }}</h6>
      <div class="mt-4">
        {{ .Content }}
      </div>
      <div class="row mt-5">
        {{ range sort .Sections "Title" }}
          <div class="col-4">
            <a href="{{ .RelPermalink }}" class="btn btn-block btn-primary mb-3 text-white">
              {{ .Title }}
              {{ if eq .Kind "section" }}
              <i data-feather="folder" class="float-right" style="width:20px;"></i>
              {{ end }}
            </a>
          </div>
        {{ end }}
      </div>
      <div class="row mt-5">
        {{ range sort .RegularPages "Title" }}
          <div class="col-4">
            <a href="{{ .RelPermalink }}" class="btn btn-block btn-info mb-3 text-light">
              {{ .Title }}
              {{ if eq .Kind "section" }}
                <i data-feather="folder" class="float-right" style="width:20px;"></i>
              {{ end }}
            </a>
          </div>
        {{ end }}

        
      </div>
    </div>
  </div>
{{ end }}