<header class="mb-3">
  <nav class="navbar navbar-expand-md navbar-dark bg-primary p-0">
    <div class="container-fluid py-2">
      <a class="navbar-brand ml-0 pl-0 nav-link {{ if .IsHome }}active{{end}}" href="/">SW: Insurgency</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-dropdown"
        aria-controls="nav-dropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nav-dropdown">
        <ul class="navbar-nav ml-auto">
          {{ $current := . }}
          {{ range .Site.Menus.main }}
            {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
            {{ range .Children }}
              {{ $active = or $active (eq $current.Section .Identifier) }}
            {{ end }}
            {{ $active = or $active (eq $current.Section .Identifier) }}
            {{ if .HasChildren }}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {{ if $active }}active{{ end }}" href="#" data-toggle="dropdown" role="button">
                  {{ .Title }}
                </a>
                <div class="dropdown-menu">
                  {{ range .Children }}
                    <a class="dropdown-item" href="{{ .URL }}">{{ .Title }}</a>
                  {{ end }}
                </div>
              </li>
              
            {{ else }}
              <li class="nav-item">
                <a class="nav-link {{if $active }}active{{end}}" href="{{ .URL }}">{{ .Title }}</a>
              </li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  </nav>
  {{ if not .IsHome }}
  <div class="bg-light shadow">
    <div class="container-fluid">
      <ol class="breadcrumb px-0 py-1 bg-transparent">
        {{ partial "breadcrumb.html" (dict "p1" . "p2" .) . }}
      </ol>
    </div>
  </div>
  {{ end }}
</header>

