<head>
    <title>{{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {{ $stylesheet := .Site.Data.assets.app }}
    {{ with $stylesheet.css }}
    <link rel="stylesheet" href="{{ . | relURL }}" {{ with $.Site.Data.assets.app.cssIntegrity }}
        integrity="{{ . | safeHTML }}" {{ end }} type="text/css" />
    {{ end }}
</head>