<div class="card border-0 bg-light">
  <div class="card-header bg-info text-light border-0">
    <p class="m-0">Recent Game Files</p>
  </div>
  <div class="card-body"></div>
</div>
<div class="card mt-3 bg-light border-0">
  <div class="card-header bg-info text-light border-0">
    <p class="m-0">Recent Character Profiles</p>
  </div>
  <div class="card-body"></div>
</div>
<div class="card mt-3 bg-light border-0">
  <div class="card-header bg-info text-light border-0">
    <p class="m-0">Recent Logs</p>
  </div>
  <div class="card-body"></div>
</div>